.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.message {
  color: #9ca3af;
  font-size: 1.1rem;
}

.headingContainer {
  margin-inline: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
